.dialogo-contenedor {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialogo-contenido{
    width: 50%;
    padding: 20px;
    background-color: white;
}