@inherits LayoutComponentBase
@layout AccountLayout

<h1>Modifica tu perfil</h1>

<div>
    <h2>Cambia los datos de tu perfil</h2>
    <hr/>
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenu/>
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>