@using Microsoft.AspNetCore.Identity
@using YateMate.Aplicacion.Entidades

@inject SignInManager<ApplicationUser> SignInManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage" Match="NavLinkMatch.All">Perfil</NavLink>
    </li>
    @* <li class="nav-item"> *@
    @*     <NavLink class="nav-link" href="Account/Manage/Email">Email</NavLink> *@
    @* </li> *@
    
    <li class="nav-item">
        <NavLink class="nav-link" href="Account/Manage/ChangePassword">Cambiar contraseña</NavLink>
    </li>
    
</ul>

@code {

}