@page "/Account/AccessDenied"

<PageTitle>Acceso Denegado</PageTitle>

<header>
    <h1 class="text-danger">Acceso denegado</h1>
    <p class="text-danger">Parece que no tienes acceso a este recurso.</p>
</header>