@page "/Account/EmpleadoPasswordConfirmation"

<PageTitle>Link Enviado</PageTitle>

<h1>Confirmacion de envio de link para el cambio de contraseña</h1>
<p>
    El mail con el link para el cambio de contraseña fue enviado al correo registrado.
</p>