@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Confirmacion de cambio de contraseña</PageTitle>

<h1>Confirmacion de cambio de contraseña</h1>
<p>
    Por favor mira tu email para cambiar tu contraseña.
</p>