@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<h1>Confirmacion de cambio de contraseña</h1>
<p>
    Por favor mira tu email para cambiar tu contraseña.
</p>