@page "/Account/RegisterConfirmation"

@using System.Text
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using YateMate.Aplicacion.Entidades;

@inject UserManager<ApplicationUser> UserManager
@* @inject IEmailSender<ApplicationUser> EmailSender *@
@* @inject NavigationManager NavigationManager *@
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirma tu registro</PageTitle>

<h1>Confirma tu registro</h1>

<StatusMessage Message="@statusMessage"/>

<p>Por favor, revisa tu mail para crear tu contraseña</p>

@code {
    private string? statusMessage;

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery] private string? Email { get; set; }

    [SupplyParameterFromQuery] private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Email is null)
        {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByEmailAsync(Email);
        if (user is null)
        {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = "Error finding user for unspecified email";
        }
    }

}

