@page "/Account/ResetPasswordConfirmation/{PrimeraVez:bool?}"
<PageTitle>Reset password confirmation</PageTitle>

@if (@PrimeraVez is not null)
{
// _mensaje+= "Inicia sesión para empezar a usar el sitio";
    _mensaje += "";
}

<h1>Cambio de contraseña</h1>
<p>
     @_mensaje 
</p>

@code{

    [Parameter]
    public bool? PrimeraVez { get; set; }
    
    private string _mensaje = "Tu contraseña ha sido cambiada.";
    
    
}