@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<h1>Cambio de contraseña</h1>
<p>
    Tu contraseña ha sido cambiada. Haz <a href="Account/Login">click aqui para loguearte</a>.
</p>