@using YateMate.Aplicacion.UseCases.Bien
@using YateMate.Aplicacion.UseCases.Oferta
@inject RetrotraerTruequeUseCase RetrotraerTruequeUseCase
@inject ObtenerBienUseCase ObtenerBienUseCase
@inject ObtenerPublicacionDeUseCase ObtenerPublicacion
@inject NavigationManager NavigationManager
@inject ApiCaller ApiCaller

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6" Style="display: flex; justify-content: center; width: 100%;">
            Viendo datos del trueque
        </MudText>
    </TitleContent>
    <DialogContent>
        <div class="card-container">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Bien a intercambiar: @Bien!.Nombre</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudImage Fluid="true" Src="@Bien!.Imagen" Alt="Image"/>
                    <MudText Typo="Typo.h6">Descripcion: @Bien.Descripcion</MudText>
                </MudCardContent>
            </MudCard>
        </div>
        <div class="card-container">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Publicacion: @Publicacion!.Titulo</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudImage Fluid="true" Src="@Publicacion!.Image" Alt="Image"/>
                    <MudText Typo="Typo.h6">Descripcion: @Publicacion!.Descripcion</MudText>
                </MudCardContent>
            </MudCard>
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Style="margin-left: auto">Cerrar</MudButton>
        <div style="flex-grow: 1;"></div>
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.Check"
                   Size="Size.Small"
                   OnClick="ConfirmarTrueque"> Confirmar Trueque
        </MudButton>
        <MudButton Variant="Variant.Filled"
                   OnClick="RetrotraerTrueque"
                   Color="Color.Primary" StartIcon="@Icons.Material.Filled.Redo"
                   Size="Size.Small"> Retrotraer Trueque
        </MudButton>
    </DialogActions>
</MudDialog>
<p>@resultadoApi</p>
@code {
    
    [Parameter] public Oferta Oferta{ get; set; }
    //agregar parameter de Usuuarios
    
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }
    void Cancel() => MudDialog!.Cancel();

    Inhabilitaciones _InhabilitacionesDuenioEmbarcacion;
    Inhabilitaciones _InhabilitacionesOfertante;
    
    Bien Bien { get; set; } = null!;
    Publicacion Publicacion { get; set; } = null!;
    string resultadoApi = "no tengo nada todavia";
    
    protected override void OnInitialized()
    {
        Bien = ObtenerBienUseCase.Ejecutar(Oferta.BienId);
        Publicacion = ObtenerPublicacion.Ejecutar(Oferta.PublicacionId);
    }
    public void RetrotraerTrueque()
    {
        RetrotraerTruequeUseCase.Ejecutar(Oferta.Id);
        NavigationManager.NavigateTo("/ListadoTruequesAcordados", forceLoad:true);
    }

    public async Task ConfirmarTrueque()
    {
        try
        {
            // _InhabilitacionesDuenioEmbarcacion(await ApiCaller.EstaDuenioInhibido(), await ApiCaller.EstaBienInhabilitado(), !(await ApiCaller.EsDuenioDe()));
            //checkeos del que pone la embarcacion
            // await ApiCaller.EstaDuenioInhibido();
            // await ApiCaller.EstaBienInhabilitado();
            // await ApiCaller.EsDuenioDe();

            // _InhabilitacionesOfertante(await ApiCaller.EstaDuenioInhibido(), false, false);
            //checkeos del que pone el bien, los ultimos 2 se van a ver en 3ra demo
            // await ApiCaller.EstaDuenioInhibido();
            // await ApiCaller.EstaBienInhabilitado();
            // await ApiCaller.EsDuenioDe();
            resultadoApi = await ApiCaller.Prueba();
        }
        catch(Exception)
        {
            resultadoApi = "Problemas de conexion al conectarse con las apis";
        }
        
    }
}
<style>.card-container {
        margin-bottom: 16px;
    }
</style>
