<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6" Style="display: flex; justify-content: center; width: 100%;">
            Viendo datos
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@Bien!.Nombre</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudImage Fluid="true" Src="@Bien!.Imagen" Alt="Image"/>
                <MudText>@Bien.Descripcion</MudText>
            </MudCardContent>
        </MudCard>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Style="margin-left: auto">Cerrar</MudButton>
        <div style="flex-grow: 1;"></div>
        <MudButton Variant="Variant.Filled"
                   @*onclick*@
                   Color="Color.Primary" StartIcon="@Icons.Material.Filled.Check"
                   Size="Size.Small"> Confirmar Trueque
        </MudButton>
        <MudButton Variant="Variant.Filled"
                   @*onclick*@
                   Color="Color.Primary" StartIcon="@Icons.Material.Filled.Redo"
                   Size="Size.Small"> Retrotraer Trueque
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    [Parameter] public Bien? Bien { get; set; }
    [Parameter] public Publicacion? Publicacion { get; set; }
    
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }
    void Cancel() => MudDialog!.Cancel();
}