@page "/"

<PageTitle>Inicio</PageTitle>

<section class="hero">
    @* <p>¿Tienes un barco que no estás utilizando?</p> *@
    @* <p>¿Buscas un barco pero no quieres pa?</p>  *@
    @* <p>¡YateMate es tu solución perfecta!</p> *@
    
</section>

<br/>
@* <section class="benefits"> *@
@*             <h2>¿Por qué usar YateMate?</h2> *@
@* *@
@*             <ul> *@
@*                 <li> *@
@*                     <h3>Optimiza tu inversión</h3> *@
@*                     <p>Intercambia tu barco por uno que se ajuste mejor a tus necesidades y ahorra en tarifas de alquiler.</p> *@
@*                 </li> *@
@*                 <li> *@
@*                     <h3>Amplía tu red náutica</h3> *@
@*                     <p>Conoce a otros usuarios de las marinas YateMate y haz crecer tu comunidad.</p> *@
@*                 </li> *@
@*                 <li> *@
@*                     <h3>Fácil y rápido</h3> *@
@*                     <p>Nuestra plataforma es intuitiva y te permite encontrar lo que buscas en poco tiempo.</p> *@
@*                 </li> *@
@*             </ul> *@
@*         </section> *@
@* *@
@*         <section class="how-it-works"> *@
@*             <h2>¿Cómo funciona YateMate?</h2> *@
@* *@
@*             <ol> *@
@*                 <li> *@
@*                     <h3>Crea tu perfil</h3> *@
@*                     <p>Indica tus datos.</p> *@
@*                 </li> *@
@*                 <li> *@
@*                     <h3>Publica tus barcos o bienes disponibles</h3> *@
@*                     <p>Describe tus barcos, incluyendo ubicación, tamaño, tipo de embarcación y precio.</p> *@
@*                 </li> *@
@*                 <li> *@
@*                     <h3>Busca barcos</h3> *@
@*                     <p>Filtra por ubicación, tamaño de calado, tamaño de eslora y tipo de embarcación para encontrar el barco perfecto.</p> *@
@*                 </li> *@
@*                 <li> *@
@*                     <h3>Contacta con otros usuarios</h3> *@
@*                     <p>Envía mensajes directos a otros usuarios para negociar el intercambio.</p> *@
@*                 </li> *@
@*             </ol> *@
@*         </section> *@

<footer>
    <p>&copy; 2024 YateMate. Todos los derechos reservados.</p>
</footer>