@page "/"
@using Microsoft.AspNetCore.Components.Authorization
<!--suppress CssUnresolvedCustomProperty -->
<PageTitle>Inicio</PageTitle>

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="py-16 position-relative" >
   
    <MudPaper Elevation="25" Class="mb-16 ml-auto mr-auto pa-4" MaxWidth="70%" >
    <MudGrid Justify="Justify.Center" Class="align-center">
        <MudItem xs="12" sm="8" md="6">
        <video playsinline autoplay muted loop poster="my-static-image.jpg">
            <source src="Video/YateMate%20Experience%20.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
            @* <MudImage Src="Pictures/favicon.png" Width="250" Height="250" Alt="Logo de YateMate" Elevation="25" Class="rounded-lg ma-4"/> *@
        </MudItem>
        <MudItem xs="12" sm="8" md="6">
                <MudText Typo="Typo.h4" GutterBottom="true" Align="Align.Center">YateMate</MudText>
                <MudText Align="Align.Center" Class="mb-4">Tu brújula en el mar de los trueques</MudText>
                <AuthorizeView>
                    <Authorized>
                        <MudContainer Class="d-flex justify-center align-center flex-grow-1 gap-4 mb-16">
                            <MudText> Consigue una embarcación ahora</MudText>
                            <MudButton Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Size="Size.Large">
                            <MudLink href="/ListadoPublicacionesDisponibles" Color="Color.Tertiary" > 🚢Ver Publicaciones</MudLink>
                            </MudButton>
                        </MudContainer>
                    </Authorized>
                    <NotAuthorized>
                        <MudContainer Class="d-flex justify-center flex-grow-1 gap-4 mb-16">
                            <MudButton Href="Account/Register"
                                       Rel="nofollow"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Size="Size.Large">
                                <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Registrarse
                            </MudButton>
                            <MudButton Href="Account/Login"
                                       Rel="nofollow noopener"
                                       Variant="Variant.Outlined"
                                       Color="Color.Secondary"
                                       Size="Size.Large">
                                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Iniciar sesión
                            </MudButton>
                        </MudContainer>
                    </NotAuthorized>
                </AuthorizeView>
                </MudItem>
    </MudGrid>
            </MudPaper>
 
    <MudGrid Justify="Justify.Center" Class="mb-16 align-center" >
        <MudItem xs="12">
            <MudText Typo="Typo.h5" GutterBottom="true" Align="Align.Center">¿Cómo funciona?</MudText>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudPaper Elevation="25" Class="pa-4 d-flex flex-column align-center">
                <MudIcon Icon="@Icons.Material.Filled.AccountCircle" Size="Size.Large" Class="mb-4" />
                <MudText Typo="Typo.h6" GutterBottom="true">Crea una cuenta</MudText>
                <MudText Align="Align.Center">Presiona registrar y crea una cuenta. Luego, inicia sesión.</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudPaper Elevation="25" Class="pa-4 d-flex flex-column align-center">
                <MudIcon Icon="@Icons.Material.Filled.Upload" Size="Size.Large" Class="mb-4" />
                <MudText Typo="Typo.h6" GutterBottom="true">Sube algún bien</MudText>
                <MudText Align="Align.Center">Sube algún bien que estes dispuesto a cambiar. Tienes que elegir un nombre, una descripción y una imagen.</MudText>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudPaper Elevation="25" Class="pa-4 d-flex flex-column align-center">
                <MudIcon Icon="@Icons.Material.Filled.SwapHoriz" Size="Size.Large" Class="mb-4" />
                <MudText Typo="Typo.h6" GutterBottom="true">Elige el barco que más te interese</MudText>
                <MudText Align="Align.Center">¿Ves un barco publicado que te gusta? ¡Hazle una oferta! Le ofreces uno de tus bienes y si hay "match", van a tener un chat para coordinar el intercambio.</MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>

        
</MudContainer>

<MudPaper Elevation="25" Class="pa-4" Style="background-color: #eee">
    @*Style="background-color:var(--mud-palette-secondary);color: var(--mud-palette-tertiary) "*@
    @*Comento tu estilo porque me tira error*@
    <MudGrid Justify="Justify.Center">
        <MudItem xs="12">
            <MudText Typo="Typo.h5" GutterBottom="true" Align="Align.Center">¿Por qué elegir YateMate?</MudText>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudText Typo="Typo.subtitle1" GutterBottom="true" Class="font-weight-bold">- Uso</MudText>
            <MudText>Nuestra plataforma es intuitiva y te permite encontrar lo que buscas en poco tiempo.</MudText>
            <MudText>Tienes múltiples atributos para usar como filtro, como la eslora y el calado.</MudText>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudText Typo="Typo.subtitle1" GutterBottom="true" Class="font-weight-bold">- Seguridad</MudText>
            <MudText>"Los datos de cualquier embarcación son subidos por nuestros empleados, por lo que no te encontrarás con sorpresas al hacer el intercambio".</MudText>
        </MudItem>
        <MudItem xs="12" sm="4">
            <MudText Typo="Typo.subtitle1" GutterBottom="true" Class="font-weight-bold">- Comunidad</MudText>
            <MudText>Somos una comunidad apasionada por los barcos, teniendo una de las comunidades más grandes de Argentina.</MudText>
        </MudItem>
    </MudGrid>

    <MudText Align="Align.Center">&copy; 2024 YateMate. Todos los derechos reservados.</MudText>
</MudPaper>

<style>
   video{
    width: 100%;
   }
</style>