@page "/publicarSubalquiler"
@* @rendermode InteractiveServer *@
@using YateMate.Aplicacion.UseCases.Subalquiler
@inject AgregarSubalquilerUseCase AgregarSubalquilerUseCase

<h3>PublicarSubalquiler</h3>

@code {

}