@inherits LayoutComponentBase
<MudThemeProvider/>
<MudSnackbarProvider/>
<MudDialogProvider/>

<MudLayout>

            <NavMenu></NavMenu>
    <MudMainContent Style="min-height: 100vh">
            @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>



<MudThemeProvider Theme="MyCustomTheme" />

@code{
  
    MudTheme MyCustomTheme = new MudTheme()
    {
        Palette = new PaletteLight()
        {
            Primary = "#23466C",
            Secondary = "#765D3A",
            Tertiary = "#FEFEFE",
            Background = "#FEFEFE",
            TextPrimary = "#071A34"
        },
        Typography = new Typography()
        {
            Default = new Default()
                {
                    FontFamily = new[] { "Helvetica", "Arial", "sans-serif" }
                }
    },
        
        //
        // LayoutProperties = new LayoutProperties()
        // {
        //     DrawerWidthLeft = "260px",
        //     DrawerWidthRight = "300px"
        // }
    };
    
    

}

