@implements IDisposable

@inject NavigationManager NavigationManager
@* @inject AuthenticationStateProvider AuthenticationStateProvider  *@

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">YateMate</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Inicio
        </NavLink>
    </div>

        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="weather"> *@
        @*         <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather *@
        @*     </NavLink> *@
        @* </div> *@

       
            @* <AuthorizeView Roles="Cliente, Empleado"> *@
        <AuthorizeView Roles="Cliente">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Mi perfil
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ListarMisBienes">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Ver Mis Bienes
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="bien">
                        <span class="oi oi-plus" aria-hidden="true"></span> Agregar Bien
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ListadoTruequesDisponibles">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Trueques disponibles
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Roles="Empleado">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/agregarApplicationUser">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Agregar Cliente
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ListarApplicationUsers">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Listar Clientes
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin">
                        <span class="bi bi-admin-fill-nav-menu" aria-hidden="true"></span> Administrar
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        
        <AuthorizeView>
            
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="embarcaciones">
                        <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Ver mis embarcaciones
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken/>
                        <input type="hidden" name="ReturnUrl"/>
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Cerrar sesión
                        </button>
                    </form>
                </div>
            </Authorized>

            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Registrarse
                    </NavLink>
                </div>
                
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Iniciar sesión
                    </NavLink>
                </div>
            </NotAuthorized>
            
        </AuthorizeView>
    </nav>
</div>

@code {
    private string? _currentUrl;

    protected override void OnInitialized()
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
        
        // var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        // var user = authState.User;
        //
        // // Check if the user is authenticated
        // if (user.Identity.IsAuthenticated)
        // {
        //     // Log the user claims
        //     Console.WriteLine("User Claims:");
        //     foreach (var claim in user.Claims)
        //     {
        //         Console.WriteLine($"{claim.Type}: {claim.Value}");
        //     }
        //
        //     Console.WriteLine($"esta el usuario en cliente? {user.IsInRole("Cliente")}");
        // }
        // else
        // {
        //     Console.WriteLine("User is not authenticated.");
        // }
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}